{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
    // "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/no-anonymous-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off"
  }
}
